<%- include("header") -%>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="failure-title"> No cards found, search again</h3>
            <div class="search-space search-space-special failure-search-space .container">
                <form class="search-form" action="/search" method="POST">
                    <input class="form-control m-auto search-bar" type="search" aria-label="Search" name="searchBar" placeholder="Card Name" autocomplete="off" required>
                    <button class="btn search-btn btn-outline-dark" type="submit" name="search">Search</button>
                </form>
            </div>
        </div>
        <div class="failure-page col-lg-12">
            <img class="fail-img" src="/images/Hi-im-snorlax-im-blocking-the-path.webp" rel="SNORLAX">
        </div>
    </div>
</div>
<%- include("footer") -%>