<%- include("header") -%>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h3 class="failure-title"> No pokemon found, search again</h3>
            <div class="search-space search-space-special failure-search-space .container">
                <form class="search-form" action="/search" method="POST">
                    <input class="form-control m-auto search-bar" type="search" aria-label="Search" name="searchBar" placeholder="Pokemon Name" autocomplete="off">
                    <button class="btn btn-outline-dark" type="submit" name="search">Search</button>
                </form>
            </div>
        </div>
        <div class="failure-page col-lg-6">
           
        </div>
    </div>
</div>
<%- include("footer") -%>