
    <footer class="footer" id="footer">
        <a href="https://github.com/Mark5013"><i class="footer-icon fa-brands fa-github"></i></a>
        <a href="https://www.linkedin.com/in/mark5013/"><i class="footer-icon fa-brands fa-linkedin"></i></a>
        <a href="https://twitter.com/Saibuu_"><i class="footer-icon fa-brands fa-twitter"></i></a>
        <p class="footer-text">© M</p>
    </footer>

    </body>
</html>