<%- include("header") -%>

<!-- PLACE HOLDER -->
<div class="search-space .container index-search-space">
    <div class="row">
        <div class="col-lg-12">
        <form class="search-form" action="/search/1" method="POST">
            <input class="form-control m-auto search-bar" type="search" aria-label="Search" name="searchBar" placeholder="Card Name/Card ID/Card Tier" autocomplete="off" required>
            <button class="btn search-btn btn-outline-primary" type="submit" name="search">Search</button>
        </form>
        </div>
    </div>
    <img class="home-pg-img" src="" rel="dynamicish pokemon images">
    
</div>
<div class="login-section">
    <% if(loggedIn) { %>
        <a class="btn btn-outline-primary btn-lg" href="/logout" role="button">Log Out</a>
   <% } else { %>
        <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign in with Google
        </a>
   <% } %>
    <a class="btn btn-outline-primary btn-lg" href="/collection" role="button">
        My collection
    </a>
</div>
<%- include("footer") -%>
