<%- include("header") -%>

<!-- PLACE HOLDER -->
<div class="search-space .container index-search-space">
    <div class="row">
        <div class="col-lg-12">
        <form class="search-form" action="/search" method="POST">
            <input class="form-control m-auto search-bar" type="search" aria-label="Search" name="searchBar" placeholder="Card Name" autocomplete="off" required>
            <button class="btn search-btn btn-outline-dark" type="submit" name="search">Search</button>
        </form>
        </div>
    </div>
    <img class="home-pg-img" src="" rel="dynamicish pokemon images">
</div>


<%- include("footer") -%>