<%- include("header") -%>

<div class="search-space search-space-special .container">
    <form class="search-form" action="/search" method="POST">
        <input class="form-control m-auto search-bar" type="search" aria-label="Search" name="searchBar" placeholder="Card Name/Card ID" autocomplete="off" required>
        <button class="btn search-btn btn-outline-dark" type="submit" name="search">Search</button>
    </form>
</div>

<div class="search-results background-img">
    <div class="container">
        <div class="row gy-1">
            <% cardArr.forEach(function(e) { %>
                <div class="col-lg-3 col-md-6">
                    <form action="/cardpage" method="POST">
                        <a href="/cardpage/<%= e.id %>"><img class="search-img" src="<%= e.images.small %>" alt="e.name"></a>
                    </form>
                </div>
            <% }) %>
        </div>   
    </div>
</div>

<%- include("footer") -%>