<%- include("header") -%>

<div class="search-space search-space-special .container">
    <form action="/search" method="POST">
        <input class="form-control m-auto search-bar" type="search" aria-label="Search" name="searchBar" placeholder="Pokemon Name" autocomplete="off">
        <button class="btn btn-outline-dark" type="submit" name="search">Search</button>
    </form>
</div>

<div class="search-results container">
    <div class="row gy-1">
        <% for(let i = 0; i < cardArr.length; ++i ) { %>
            <div class="col-lg-3">
                <form action="/cardpage" method="POST">
                    <button type="submit" value="<%= cardArr[i].id %>" name="finalBtn" class="search-btn"><img class="search-img" src="<%= cardArr[i].images.small %>" alt="img[i]"></button>
                </form>
            </div>
        <% } %>
    </div>   
</div>

<%- include("footer") -%>